header h1{
    text-align-last: center;
}
.main4{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.main-section{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.artical-left{
    width:25%;
    height:25%;
    background-color:lightyellow;
    text-align:center;
    position: fixed;
    
}
img{
    width:40%;
}
.artical-right{
    width:74%;
    background-color:lightgreen;
   margin-left: 26%;
}
@media only screen and (min-width:320px) and (max-width:460px){
    .artical-left{
        width:100%;
        position: relative;
    }
    .artical-right{
        width: 100%;
        margin-left: 0%;
    }

}
@media only screen and (min-width:461px) and (max-width:780px){
    .artical-left{
        width:100%;
        position: relative;
    }
    .artical-right{
        width:100%;
        margin-left:0%;
    }
    img {
        width: 20%;
    }
    .c1{
        display:flex;
        justify-content: space-between;
    }
}
